Repository googleapis/synthtool, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chingor13, @googleapis/yoshi-python, @googleapis/github-automation, @googleapis/yoshi-java, @googleapis/yoshi-nodejs, @googleapis/yoshi-php, @googleapis/yoshi-ruby

typo
  synthtool/gcp/templates/python_library/.github/blunderbuss.yml
Owners: @googleapis/yoshi-python

clarification
  synthtool/gcp/templates/python_library/.github/blunderbuss.yml
Owners: @googleapis/yoshi-python

formatting
  synthtool/gcp/templates/python_library/.github/blunderbuss.yml
Owners: @googleapis/yoshi-python

chore: add default auto-label and blunderbuss configs (#1880)
  synthtool/gcp/templates/python_library/.github/auto-label.yaml
  synthtool/gcp/templates/python_library/.github/blunderbuss.yml
  tests/test_python_library.py
Owners: @googleapis/yoshi-python, @chingor13, @googleapis/github-automation

chore: add regex to match unmanaged dependency check
  synthtool/gcp/templates/java_library/renovate.json
Owners: @googleapis/yoshi-java

chore: add regex to match unmanaged dependency check (#1941)
  synthtool/gcp/templates/java_library/renovate.json
Owners: @googleapis/yoshi-java

chore(deps): update gapic-tools to 0.4.1
  docker/owlbot/nodejs_mono_repo/Dockerfile
Owners: @chingor13, @googleapis/yoshi-python, @googleapis/github-automation

chore(deps): update gapic-tools to 0.4.1 (#1943)
  docker/owlbot/nodejs_mono_repo/Dockerfile
Owners: @chingor13, @googleapis/yoshi-python, @googleapis/github-automation

chore: update ignore paths in renovate config
  synthtool/gcp/templates/java_library/renovate.json
Owners: @googleapis/yoshi-java

chore: update ignore paths in renovate config (#1945)
  synthtool/gcp/templates/java_library/renovate.json
Owners: @googleapis/yoshi-java

docs: add summary_overview template
  synthtool/gcp/templates/python_library/docs/summary_overview.md.j2
  synthtool/gcp/templates/python_mono_repo_library/docs/summary_overview.md.j2
Owners: @googleapis/yoshi-python, @chingor13, @googleapis/github-automation

docs: update README link to summary overview
  synthtool/gcp/templates/python_library/README.rst
  synthtool/gcp/templates/python_mono_repo_library/README.rst
Owners: @googleapis/yoshi-python, @chingor13, @googleapis/github-automation

docs: fix readme link
  synthtool/gcp/templates/python_library/README.rst
  synthtool/gcp/templates/python_library/docs/summary_overview.md
  synthtool/gcp/templates/python_mono_repo_library/README.rst
  synthtool/gcp/templates/python_mono_repo_library/docs/summary_overview.md
Owners: @googleapis/yoshi-python, @chingor13, @googleapis/github-automation

Apply suggestions from code review
  synthtool/gcp/templates/python_library/docs/summary_overview.md
Owners: @googleapis/yoshi-python

Update summary_overview.md
  synthtool/gcp/templates/python_mono_repo_library/docs/summary_overview.md
Owners: @chingor13, @googleapis/yoshi-python, @googleapis/github-automation

chore: adding 'infrastructure-public-image-' tags for owlbot-java
  docker/owlbot/java/cloudbuild.yaml
Owners: @googleapis/yoshi-java

.github/CODEOWNERS:

*   @chingor13 @googleapis/yoshi-python @googleapis/github-automation

# assign templates to the language team that owns them
synthtool/gcp/templates/java_library/          @googleapis/yoshi-java
synthtool/languages/java.py                    @googleapis/yoshi-java
synthtool/gcp/templates/node_library/          @googleapis/yoshi-nodejs
synthtool/gcp/templates/node_split_library/    @googleapis/yoshi-nodejs
synthtool/gcp/templates/php_library/           @googleapis/yoshi-php
synthtool/gcp/templates/python_library/        @googleapis/yoshi-python
synthtool/gcp/templates/python_samples/        @googleapis/yoshi-python
synthtool/gcp/templates/ruby_library/          @googleapis/yoshi-ruby

# Also assign tests specific to language teams
synthtool/tests/test_language_java.py          @googleapis/yoshi-java
synthtool/tests/test_python_library.py         @googleapis/yoshi-python
synthtool/tests/test_ruby.py                   @googleapis/yoshi-ruby

# Assign owlbot images to language teams
docker/owlbot/java                             @googleapis/yoshi-java
docker/owlbot/nodejs                           @googleapis/yoshi-nodejs
docker/owlbot/python                           @googleapis/yoshi-python
